# Data Science Tools and Ecosystem

In the notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1.Python
    2.Scala
    3.SQL
    4.R
    5.Java
    6.C++
    7.Julia
    8.Php
    9.Go
    10.Ruby

Some of the commonly used libraries used by Data Scientists include:
    
1.TensorFlow
2.NumPy
3.SciPy 
4.Pandas
5.Matplotlib 
6.Keras
7.SciKit-Learn
8.PyTorch
9.Scrapy

|Data Science Tools:|
|----|
|Anaconda|
|Jupyter Notebooks|
|Rstudio|
|Spyder|

###  Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**
- Added comment to code cells
- Create markdown cells
- List of popular languages of Data science
- List of popular libraries of Data science

## Author
 
 Kamrul Aman Zahin